.sidebarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption:hover{
    background-color: #161e22;
    border-radius: 30px;
    color: var(--twiter-white);
    transition: color 100ms ease-out;
}

.sidebarOption > .MuiSvgIcon-root{
    padding: 12px;
    font-size: 30px;
}

.sidebarOption > h2{
    font-size: 20px;
    font-weight: 400;
    margin-right: 20px;
}

.sidebarOption--active{
    color: var(--twitter-color);
}
